venv/
venv
__pycache__/sender.cpython-313.pyc
tzdl aizb xoru qkkm.txt
Investment Update-Neo Wealth Products.eml
AI_Ops Compliance.pdf
Downsell Communicaiton  - All Deals.docx
DS Data.csv
DS Data.xlsx
DS_Data.csv
